node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

assets/icon.png
assets/splash.png
src/assets/logo.png
src/assets/logo@2x.png
src/assets/logo@3x.png

yarn-error.log
yarn.lock

# macOS
.DS_Store
